@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');
.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  font-family: 'Source Code Pro', serif;
}

a {
  text-decoration: none;
}