@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400&family=Press+Start+2P&display=swap');
.App {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

a {
  text-decoration: none;
}