.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-link {
  position: absolute;
  top: 180px;
  left: 100px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  background-color: rgb(218, 57, 204);
  padding: 1em;
}

.product-link a {
  color: white;
}

.carousel-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel-link {
  width: 160px;
}

.selected {
  border: 2px solid rgb(218, 57, 204);
}

.about-container {
  margin-top: 2em;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.about-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3em;
  margin-left: 1em;
}

.top-line {
  margin-left: 1.5em;
}

.about-body {
  width: 80%;
  align-self: center;
  font-family: 'Source Code Pro', monospace;
  font-size: 1em;
}

.about-body p {
  margin: 1.5em 0;
  text-align: justify;
  line-height: 1.3;
}