.item-detail-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.item-name {
  width: 400px;
  word-wrap: break-word;
  font-family: 'Source Code Pro', monospace;
  font-size: 1.3em;
  background-color: rgb(218, 57, 204);
  color: white;
  position: relative;
  top: 80px;
  left: -300px;
  padding: .3em;
}

.detail-header{
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-bottom: 3em;
}

.images-container {
  width: 820px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-image{
  width: 820px;
  align-self: center;
}

.item-images{
  width: 65px;
  margin: .3em .3em .3em 0;
}

.info-container {
  display: flex;
  flex-direction: row;
  width: 820px;
}

.description-container {
  flex-basis: 70%;
  padding-right: 1em;
}

.description-header {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.1em;
  margin-bottom: 1em;
}

.description-body {
  text-align: justify;
  padding: .5em 2em 0 .5em;
  line-height: 1.2;
}

.options-container {
  flex-basis: 30%;
  margin: -1em 0 0 2em;
  display: flex;
  flex-direction: column;
  height: 275px;
  justify-content: space-around;
  align-items: flex-end;
}

.price {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5em;
  align-self: flex-end;
}

.variations-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.variation-btn {
  border: none; 
  font-family: 'Source Code Pro', monospace;
  font-size: .8em;
  padding: 1em;
  background-color: rgb(218, 57, 204);
  color: white;
}

.selected-variation {
  box-sizing: border-box;
  background-color: white;
  color: rgb(218, 57, 204);
  border: 2px solid rgb(218, 57, 204);
}

.variations-container button:hover  {
  background-color: white;
  color: rgb(218, 57, 204);
}

.current-selection {
  width: 180px;
  text-align: end;
}

.add-btn {
  border: 1px solid rgb(218, 57, 204); 
  font-family: 'Source Code Pro', monospace;
  background-color: white;
  color: rgb(218, 57, 204);
  font-size: 1em;
}

.add-btn:hover {
  background-color: rgb(218, 57, 204);
  color: white;
}

.selected  {
  border:  2px solid rgb(218, 57, 204);
}

.adding {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
  background-color: rgb(218, 57, 204);
  color: white;
}

 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}