.navbar {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  margin: 1.5em;
  padding: .5em;
  font-family: 'Source Code Pro', serif;
}

.navbar a {
  color: black;
  font-weight: bold;
}

.main-link {
  font-size: 2.3em;
  font-family: 'Press Start 2P', cursive;
  padding-bottom: .5em;
}

.shop-link {
  margin-top: 2em;
  padding: 0 1em;
  font-size: 1.3em;
}
